.box {
    margin: 0;
    color: white;
    height: 720px;
    display: block;
}
.graphic {
    float: left;
    margin: 0;
    width: 50%;
    height: 100%;
    background: white;
}
.graphic .img{
    /*width: 100%;
    height: 100%;*/
}
.quote {
    background-color: black;
    background-image: url("images/SiliconValleyBackground.png");
    background-repeat: no-repeat;
    background-position: right top;
    float: left;
    margin: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    align-content: center;
}
.quote h1{
    font-size: 55px;
}
.quote h2{
    font-size: 60px;
}
