<!doctype html>
<title>Silicon Valley</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=box>
    <div class=graphic>
        <img src="/static/images/{{actor_image}}.png" alt = {{actor_image}} >
    </div>
    <div class=quote>
        <h1>{{ sentence }}</h1>
        <h2>~ {{ actor }}</h2>
        <!-- <blockquote>{{ sentence }}</blockquote> -->
        <form action="/tweet" method="post">
            <input type="hidden" name="sentence" value="{{ sentence }}">
            <button class=tweet type="submit" style="vertical-align:middle">
              <span> Post Tweet</span>
            </button>
        </form>
    </div>
</div>
